<div class="container" style="margin-top:10px;">
  <% @movies.each do |movie| %>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-image">
          <%= link_to(image_tag(movie.avatar, class: "panel-image-preview"), root_path) %>
          <label for="toggle-4"></label>
        </div>
        <div class="panel-body">
          <h4 class="text-center"><%= movie.title %></h4>
          <p>
          <%= truncate(movie.description, length: 250) %> 
          <span> <%= link_to "Leer más", movie_path(movie.id)%></span>
          </p>
        </div>
        <div class="panel-footer text-center">
          <span class="fa fa-clock-o"> <%= movie.movie_length %> minutos</span>
        </div>
      </div>
    </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
  </div>
</div>
