<h2 class="text-center">Iniciar Sesión</h2>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :email, autofocus: true, label: "Correo electrónico" %>
    <%= f.input :password, autocomplete: "off", label: "Contraseña" %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, label: "Recuérdame" %>
    <% end %>
    <%= f.submit "Iniciar Sesión", class: "btn btn-success center-block" %>
  <% end -%>
</div>
